:root {
	/*Colores*/
	--first-background: #969ba2;	
	--second-background: #e6dddc;
	--lbl-input: #ff0c66;
	--other: #fffcff;
	--footer: #d0d167;
	--just-white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	min-width: 320px;
	height: 110px;
	background-color: var(--first-background);
}

header h1 {
	font-size: 3.6rem;
	font-weight: bold;
	color: var(--other);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	min-width: 320px;
	height: 460px;
	background-color: var(--second-background);
}

main div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*text-align: center;*/
	height: 380px;
	/*width: 430px;*/
	min-width: 320px;
	margin: auto;
	/*border: 2px dashed blue;*/
}

main .divsBordeVisible{
	display: block;
	height: 430px;
	width: 350px;
	padding-top: 20px;
	overflow: auto;
	white-space: nowrap;
	border-radius: 40px;
	border: 2px solid var(--first-background);
}

main #divIndex ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 95%;
	width: 90%;
	margin: auto;
	list-style: none;
	/*border: 2px solid blue;*/
}

main #divIndex ul li {           
	/*margin-bottom: 70px;*/   
	font-size: 3.2rem;
}

main #divIndex ul li:nth-child(2) {
	margin-top: 150px;
}

main #divIndex ul li a {                                
	border: 2px solid var(--just-white);
	border-radius: 50px;
	padding: 20px;
	font-weight: bold;
	text-decoration: none;
	color: var(--lbl-input);
	background-color: var(--first-background);
}

main div .areasCif {
	/*display: flex;*/
	margin: auto;
	width: 60%;
}

footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	height: 70px;
	background-color: var(--footer);
}

footer p {
	font-size: 2.4rem;
	color: var(--other);
}