:root {
	/*Colores*/
	--first-background: #969ba2;	
	--second-background: #e6dddc;
	--lbl-input: #ff0c66;
	--other: #fffcff;
	--footer: #d0d167;
	--just-white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	min-width: 320px;
	height: 460px;
	background-color: var(--lbl-input);
}